.header__main {
    display: flex;
    align-items: center;
    justify-content: space-around;

    h6 {
        font-size: 36px;
    }

    button {
        margin: 10px 5px;
        padding: 0px 10px;
        font-size: 24px;
    }

    li {
        display: flex;
        align-items: center;
        gap: 30px;

        ul {
            margin: 0px calc(35px / 2);
            font-size: 24px;

            .Link {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }

            .header__bottom__line {
                height: 2px;
                width: 100%;
                background-color: #E6E6E6;
                border-radius:1px;
            }

            &:hover {
                .header__bottom__line {
                    animation: hoverSmall 1.5s infinite;
                }
            }
        }
    }
}