.body__Project_card {
    width: 80%;
    border-radius: 25px;
    display: flex;
    padding: 40px 0px;
    margin: 20px;
    cursor: pointer;

    .Project_card__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        padding: 0px 40px;

        img {
            max-width: 100%;
            border-radius: 25px;
        }
    }

    .Project_card__text {
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        h3, p {
            font-size: 40px;
        }
    }
}

@media (max-width: 750px) {
    .body__Project_card {
        flex-direction: column;
        align-items: center;

        .Project_card__img {
            width: 80%;
        }
    }
}

@media (max-width: 1300px) {
    .body__Project_card {
        width: 75%;

        .Project_card__text {
            h3 {
                font-size: 30px;
            }

            p {
                font-size: 25px;
            }
        }
    }
}