.body__Project_id {
    min-height: 100vh;

    .Project_id__main {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 35px;
            max-width: 70%;
            margin-bottom: 1px;
        }

        a {
            font-size: 30px;
            color: #226ce0;
            border-bottom: 3px solid #226ce0;
            margin-bottom: 10px;
        }

        .links {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            width: 70%;
            align-items: flex-start;
        }
    }
}

@media (max-width: 1300px) {
    .body__Project_id {
        .Project_id__main {
            p {
                font-size: 25px;
            }

            a {
                font-size: 20px;
            }
        }
    }
}