.body__MusicPlayer {
    .MusicPlayer {
        background: #303536;
        width: 100%;
        height: 500px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .controller__name {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 150px;

            .controller {
                display: flex;
                justify-content: center;
                gap: 15%;
            }
        }


        .info__music {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;

            .musicCover {
                border-radius: 10%;
                width: 70%;
            }
        }
    }
}

@media (max-width: 930px) {
    .body__MusicPlayer {
        .MusicPlayer {
            flex-direction: column-reverse;
    
            .controller__name {
                gap: 0px;
                justify-content: space-evenly;

                .Music__name {
                    h4 {
                        font-size: 25px;
                    }
                }
            }
            .info__music {
    
                .musicCover {
                    margin-top: 10px;
                }
            }
        }
    }
}