.body__Projects {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;

    .Projects__Table {
        width: 80%;
        min-height: 600px;
        margin-top: 100px;
        border-radius: 25px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width: 1300px) {
    .body__Projects {
        .Projects__Table {
            width: 90%;
        }
    }
}