@keyframes hoverSmall {
    0% {
        width: 100%;
    }
    50% {
        width: 20%;
    }
    100% {
        width: 100%;
    }
}

@keyframes light {
    0% {
        box-shadow: 0px 0px 5px #E6E6E6;
    }
    50% {
        box-shadow: 0px 0px 50px #E6E6E6;
    }
    100% {
        box-shadow: 0px 0px 5px #E6E6E6;
    }
}