// ===== WHITE THEME =====


.layout {
    background: #E6E6E6;
    color: #0D0D0D;
    height: 100%;

    .header__main .header__bottom__line {
        background: #0D0D0D;
    }

    li {
        background-color: #E6E6E6;
    }

    .body__AboutMe {
        .body__MusicPlayer {
            .MusicPlayer {
                background: #CCCCCC;
                border: 2px solid #0D0D0D;
            }
        }

        .body__MyKnowIT {
            .SwiperSlide {
                background-color: #CCCCCC;
                border: 2px solid #0D0D0D;
            }
        }
}
}


// ===== DARK THEME =====


.layout.dark {
    background: #202324;
    color: #E6E6E6;
    height: 100%;

    .header__main .header__bottom__line {
        background: #E6E6E6;
    }

    li {
        background-color: #202324;
    }
    
    .body__AboutMe {
        .body__MusicPlayer {
            .MusicPlayer {
                background: #303536;
                border: 2px solid #E6E6E6;
            }
        }

        .body__MyKnowIT {
            .SwiperSlide {
                background-color: #303536;
                border: 2px solid #E6E6E6;
            }
        }
    }
}